.educationSection {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 0 30px;
}
.darkMode .educationSection {
    border-top: solid 1px #fff;
}
.lightMode .educationSection {
    border-top: solid 1px #000;
}
.educationWrapper {
    display: flex;
    flex-direction: column;
    transition: 1s;
}
.darkMode .educationWrapper {
    border-left: solid 0.5px #ffffffcc;
}
.lightMode .educationWrapper {
    border-left: solid 0.7px #00000088;
}
.educationText, .educationText5 {
    padding-left: 20px;
}
.educationText5 {
    padding-top: 10px;
    margin-bottom: 5px;
}
p.educationText {
    padding-bottom: 30px;
}
.darkMode .educationText5 {
    color: #00aaff !important;
    border-top: solid 0.5px #ffffffcc;
}
.lightMode .educationText5 {
    color: #0066ba !important;
    font-weight: normal;
    border-top: solid 0.7px #00000088;
}
h3.educationText {
    position: relative;
    transform: translateY(-10px);
}
.darkMode h3.educationText {
    color: #d69600 !important;
    font-size: 16px;
}
.darkMode h3.educationText:nth-child(1) {
    padding-top: 0;
}
.lightMode h3.educationText {
    color: #0083ca !important;
}
h3.educationText::before, h3.educationText::before {
    top: 50%;
    left: -0.5px;
    transform: translate(-50%, -50%);
}

/* Settings */
.educationForm {
    margin-bottom: 20px;
}


/* Laptop scale */
@media (min-width: 1024px) {
    .educationSection {
        background-image: url('../../images/educationIcon.png');
        background-attachment: fixed;
        background-size: 40% 70%;
        background-repeat: no-repeat;
        background-position: right;
    }
    .educationMainWrapper {
        width: 50%;
    }
    .darkMode .educationWrapper {
        border-left: solid 0.5px #ffffff55;
    }
    .lightMode .educationWrapper {
        border-left: solid 0.7px #00000055;
    }
    .darkMode .educationText5 {
        border-top: solid 0.5px #ffffff55;
    }
    .lightMode .educationText5 {
        border-top: solid 0.7px #00000055;
    }
    h3.educationText {
        transform: translateY(-10px);
    }
    .educationForm {
        width: 500px;
        margin: 0 auto 20px auto;
    }
}