.experienceSection {
    padding: 30px 10px 0 10px;
    overflow-x: hidden;
    background-image: url('../../images/experienceIcon.png');
    background-attachment: fixed;
    background-size: 90% 40%;
    background-repeat: no-repeat;
    background-position: center;
}
.darkMode .experienceSection {
    border-top: solid 1px #ffffff;
}
.lightMode .experienceSection {
    border-top: solid 1px #000;
}
.experienceMainWrapper {
    margin-top: 20px;
}
.experience {
    display: flex;
}
.experience > div {
    padding: 0 20px 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.experienceColumn1 {
    width: 33%;
    text-align: right;
}
.experienceColumn2 {
    position: relative;
    width: 67%;
}
.experienceColumn2::before {
    left: -0.5px;
    top: 0;
    transform: translate(-50%, 50%);
}
.darkMode .experienceColumn2 {
    border-left: solid 0.7px #ffffff55;
}
.lightMode .experienceColumn2 {
    border-left: solid 0.7px #00000055;
}
.experience > div h5 {
    font-size: 16px;
}
.darkMode .experience > div h5:nth-child(1), .darkMode .experience > div p:nth-child(1) {
    color: #d69600;
    font-weight: bold;
}
.lightMode .experience > div h5:nth-child(1), .lightMode .experience > div p:nth-child(1) {
    color: #009de0;
    font-weight: bold;
}
.darkMode .experience > div h5:nth-child(2) {
    color: #3baaff;
    font-weight: normal;
}
.lightMode .experience > div h5:nth-child(2) {
    font-weight: 500;
    color: #d69600;
}


/* Laptop scale */
@media (min-width: 1024px) {
    .experienceSection {
        padding: 40px;
        overflow-x: hidden;
        background-size: 40% 80%;
    }
    .experienceMainWrapper {
        width: 70%;
        margin: 40px auto 0 auto;
    }
    .experienceColumn1 {
        width: 30%;
        text-align: right;
    }
    .experienceColumn2 {
        width: 70%;
    }
}