header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: translateY(0);
    transition: transform 0.3s;
}
.hideHeader {
    transform: translateY(-100%);
}
body.darkMode header {
    border-bottom: solid 0.5px #ffffff77;
    background: #111;
}
body.lightMode header {
    border-bottom: solid 0.5px #000000aa;
    background-color: var(--lightBG);
}

.headerPart1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.headerPart1 > h2 {
    font-weight: normal;
}
.darkMode .headerPart1 > h2 > span {
    color: var(--darkYellow);
}
.lightMode .headerPart1 > h2 > span {
    color: #0064b6;
}

.toggleModeWrapper {
    gap: 10px;
}

.toggleModeButton {
    position: relative;
    display: flex;
    align-items: center;
    padding: 2px;
    width: 50px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
}
body.darkMode .toggleModeButton {
    border: solid 0.7px #ffffff77;
}
body.lightMode .toggleModeButton {
    border: solid 0.7px #000000aa;
}

.toggleModeButton > div {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #00557c;
    transition: 0.2s;
}
.darkToggleThumb {
    left: calc(0% + 2px);
}
.lightToggleThumb {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.navToggle {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 25px;
    cursor: pointer;
}
.navToggle > div {
    width: 100%;
    height: 1px;
    transition: transform 0.4s;
}
body.darkMode .navToggle > div {
    background: #fff;
}
body.lightMode .navToggle > div {
    background: #000;
}

nav {
    overflow: hidden;
    transition: 0.5s;
}
nav > ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
}
nav > ul > li {
    padding: 20px;
    cursor: pointer;
}
body.darkMode nav > ul > li {
    border-top: solid 0.5px #ffffff77;
}
body.lightMode nav > ul > li {
    border-top: solid 0.5px #000000aa;
}


/* Desktop scale */
@media (min-width: 1024px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10px;
    }
    body.lightMode header {
        border-top: solid 0.5px #00000055;
    }
    .headerPart1 {
        width: 100%;
    }
    .toggleModeWrapper {
        padding: 1.5px 30px;
        font-size: 12px;
    }
    body.darkMode .toggleModeWrapper {
        border-right: solid 0.5px #ffffff88;
        border-left: solid 0.5px #ffffff88;
    }
    body.lightMode .toggleModeWrapper {
        border-right: solid 0.5px #000000aa;
        border-left: solid 0.5px #000000aa;
    }
    .toggleModeButton {
        width: 35px;
        height: 25px;
    }
    .toggleModeButton > div {
        width: 19px;
        height: 19px;
    }
    .navToggle {
        display: none;
    }
    nav {
        overflow: unset;
    }
    nav > ul {
        flex-direction: row;
    }
    nav > ul > li {
        font-size: 14px;
        transition: 0.2s;
    }
    nav > ul > li:hover {
        padding: 18px 20px 22px 20px;
    }
    body.darkMode nav > ul > li,
    body.lightMode nav > ul > li {
        border-top: none;
    }
}