.homeSection {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}
.homeImageWrapper {
    display: flex;
    align-items: flex-end;
    height: 70vh;
}

.homeImageWrapper > img {
    width: 100%;
    height: 95%;
    object-fit: cover;
    pointer-events: none;
}
.homeProfileWrapper {
    bottom: 0;
    padding: 30px;
}
.darkMode .homeProfileWrapper > p {
    margin-top: 10px;
}

/* settings */
.homeImageSettingsWrapper {
    position: absolute;
    top: 70px;
    left: 10px;
    gap: 5px;
}
.homeImageSettingsWrapper > label > p, .homeImageSettingsWrapper > p {
    padding: 10px;
    background: #00000055;
    color: white !important;
    cursor: pointer;
}
.changeImageLabel > input {
    display: none;
}
.homeSection form > textarea {
    margin-top: 20px;
}


/* Laptop scale */
@media (min-width: 1024px) {
    .homeSection {
        flex-direction: row;
    }
    .homeSection > div {
        height: 90vh;
    }
    .homeImageWrapper, .homeProfileWrapper {
        width: 50%;
    }
    .homeProfileWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0 100px;
    }
}