.passwordWrapper {
    height: 100vh;
}
.passwordWrapper > form {
    width: 80%;
}
.passwordWrapper > form > input {
    border: solid 0.7px #00000088;
}

@media (min-width: 1024px) {
    .passwordWrapper > form {
        width: 30%;
    }
}