.skillSection {
    padding: 40px;
    overflow-x: hidden;
}
.darkMode .skillSection {
    border-top: solid 1px #ffffff;
}
.lightMode .skillSection {
    border-top: solid 1px #000;
}
.skillSection > h1 {
    margin-bottom: 20px;
}
.skillsMainWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* Frontend */
.darkMode .skillsContainer {
    border-bottom: solid 0.5px #ffffff55;
}
.lightMode .skillsContainer {
    border-bottom: solid 0.5px #000000aa;
}
.skillMainTitle {
    font-weight: normal;
    padding: 10px 0 10px 20px;
}
.darkMode .skillMainTitle {
    border-left: solid 0.5px #ffffff55;
    border-top: solid 0.5px #ffffff55;
    border-bottom: solid 0.5px #ffffff55;
    color: #009dff !important;
}
.lightMode .skillMainTitle {
    border-left: solid 0.5px #000000aa;
    border-top: solid 0.5px #000000aa;
    border-bottom: solid 0.5px #000000aa;
    color: #a70 !important;
}
.skill {
    display: flex;
    gap: 5px;
    padding: 10px 0 10px 20px;
}
.darkMode .skill {
    position: relative;
    border-left: solid 0.5px #ffffff55;
}
.lightMode .skill {
    position: relative;
    border-left: solid 0.5px #000000aa;
}
.skill::before {
    left: 0;
    transform: translate(-50%, 75%);
}
.skill > p > span {
    font-weight: bold;
}
.darkMode .skill > p > span {
    color: #d69600;
}
.lightMode .skill > p > span {
    color: #07a;
}


/* Laptop scale */
@media (min-width: 1024px) {
    .skillsMainWrapper {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px 50px;
    }
    .skillsContainer {
        width: calc(100%/2 - 30px);
    }
    .skillsContainer:nth-child(2) {
        order: 1;
    }
    .skillsContainer:nth-child(4) {
        order: 3;
    }
    .darkMode .skillsContainer {
        border-bottom: none;
        border: solid 0.5px #ffffff55;
    }
    .lightMode .skillsContainer {
        border-bottom: none;
        border: solid 0.5px #000000aa;
    }
    .darkMode .skillMainTitle, .lightMode .skillMainTitle {
        border-top: none;
        border-left: none;
    }
    .skill {
        display: flex;
        gap: 5px;
        padding: 10px 10px 10px 20px;
    }
    .darkMode .skill, .lightMode .skill {
        border-left: none;
    }
}