.skillSection {
    padding: 30px;
    overflow-x: hidden;
    background-image: url('../../images/skillsIcon.png');
    background-attachment: fixed;
    background-size: 90% 40%;
    background-repeat: no-repeat;
    background-position: center;
}
.darkMode .skillSection {
    border-top: solid 1px #ffffff;
}
.lightMode .skillSection {
    border-top: solid 1px #000;
}
.skillSection > h1 {
    margin-bottom: 20px;
}
.skillsMainWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* Frontend */
.skillMainTitle {
    padding: 10px 0 10px 20px;
}
.darkMode .skillMainTitle {
    border-left: solid 0.5px #ffffffaa;
    border-top: solid 0.5px #ffffffaa;
    border-bottom: solid 0.5px #ffffffaa;
    color: var(--darkBlue) !important;
    font-weight: normal;
}
.lightMode .skillMainTitle {
    border-left: solid 0.5px #000000cc;
    border-top: solid 0.5px #000000cc;
    border-bottom: solid 0.5px #000000cc;
    color: #a70 !important;
}
.skill {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 10px 0 10px 20px;
}
.darkMode .skill {
    position: relative;
    border-left: solid 0.5px #ffffffaa;
}
.lightMode .skill {
    position: relative;
    border-left: solid 0.5px #000000cc;
}
.skill::before {
    left: 0;
    transform: translate(-50%, 75%);
}
.skill > p > span {
    font-weight: bold;
}
.darkMode .skill > p > span {
    color: #d69600 !important;
}
.lightMode .skill > p > span {
    color: #07a !important;
}


/* Laptop scale */
@media (min-width: 1024px) {
    .skillSection {
        background-size: 40% 70%;
    }
    .skillsMainWrapper {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px 50px;
    }
    .skillsContainer {
        width: calc(100%/2 - 30px);
    }
    .skillsContainer:nth-child(2) {
        order: 1;
    }
    .skillsContainer:nth-child(4) {
        order: 3;
    }
    .darkMode .skillsContainer {
        border-bottom: none;
        border: solid 0.5px #ffffffaa;
    }
    .lightMode .skillsContainer {
        border-bottom: none;
        border: solid 0.5px #000000aa;
    }
    .darkMode .skillMainTitle, .lightMode .skillMainTitle {
        border-top: none;
        border-left: none;
    }
    .skill {
        display: flex;
        gap: 5px;
        padding: 10px 10px 10px 20px;
    }
    .darkMode .skill, .lightMode .skill {
        border-left: none;
    }

    /* settings */
    .skillSection form {
        width: 95%;
        margin: 0 auto 20px auto;
    }
}