:root {
    /* FONT FAMILIES */
    --thinFont: 'Thasadith', sans-serif;
    --formalFont: "Dosis", sans-serif;

    /* Background colors */
    --darkBG: #000;
    --lightBG: #fff;

    /* Colors */
    --darkText: #ffffffaa;
    --lightText: #000000aa;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    line-height: 1.5rem;
    word-spacing: 0.2rem;
    user-select: none;
    -webkit-user-select: none;
    resize: none;
}
.darkMode *:not([class*="fa-"]) {
    font-family: var(--thinFont);
    letter-spacing: 0.3px;
    color: var(--darkText);
}
.lightMode *:not([class*="fa-"]) {
    font-family: var(--formalFont);
    color: var(--lightText);
}
i {
    margin-right: 10px;
}
button {
    cursor: pointer;
}
.darkMode i {
    color: #ffffffaa;
}
.lightMode i {
    color: #000000aa;
}
.darkMode header, body.darkMode {
    background-image: linear-gradient(150deg, #000000, #0b1f42, #0b1f42, #000000);
    background-attachment: fixed;
}
.lightMode header, body.lightMode {
    background-image: radial-gradient(circle at 0 0, #0080ff28, transparent 40%),
    radial-gradient(circle at 50% 110%, #e4cb6a27, transparent 30%),
    radial-gradient(circle at 120% 50%, #1de5ff34, transparent 40%);
    background-attachment: fixed;
}
section {
    overflow-x: hidden;
}
.flexMiddle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexColumn {
    display: flex;
    flex-direction: column;
}
.darkMode h1 {
    font-weight: normal;
}
.sectionTitle {
    margin-left: 20px;
}
.dottedElement::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #999;
}

@media (min-width: 1024px) {
    p {
        font-size: 14px;
    }
    h3 {
        font-size: 16px;
    }
    h5 {
        font-size: 12px;
    }
}